@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

#header {
  text-align: center;
  align-items: center;
}

#exploit-container {
  background-color: transparent;
  box-shadow: 0 0 7px #000;
  margin-top: 10px;
  margin-bottom: 10px;
  height: auto;
  width: auto;
  border-radius: 6px;
}

.title-exploit {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.author {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}


  
