@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

#header {
  text-align: center;
  align-items: center;
}

#exploit-container {
  background-color: transparent;
  box-shadow: 0 0 7px #000;
  width: fit-content;
  height: fit-content; 
  padding: 20px;
  border-radius: 6px;
}

.title-exploit {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
}

.author {
  font-family: 'Roboto', sans-serif;
  font-size: 1.8em;
  text-align: center;
  margin: 0;
}

.desc-title {
  font-family: 'Roboto', sans-serif;
  font-size: 2.4em;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.desc-txt {
  font-family: 'Roboto', sans-serif;
  font-size: 1.7em;
  text-align: center;
  color: #000;
}

#description,
#tut {
  text-align: center;
  align-items: center;
}

ol {
  text-align: center;
}

li {
  color: #000;
  font-size: 1.7em;
}

#divider-exploit {
  width: auto;
  height: 2px;
  background-color: #000;
  opacity: 0.5;
  margin-top: 20px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}
