@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@700&display=swap');

body {
  background-color: #E5E7EB;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0;
}

main {
  min-height: 100vh;
}

.page-title {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 2.3em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.page-desc {
  font-family: 'Source Sans Pro', sans-serif;
  color: #000;
  font-size: 1.8em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
}

.btn {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.05em;
  margin-top: 8px;
  width: 200px;
  height: 40px;
  border: none;
  border-radius: 8px;
  background-color: rgba(97, 97, 97, 0.8);
  color: #ffffff;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.btn:hover {
  font-weight: bold;
  transform: scale(1.05);
}
