@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #333;
  padding: 15px 0; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.title {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.5em;
  color: #fff;
  text-decoration: none;
}

nav {
  margin-left: auto;
}

nav a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

nav a:hover {
  color: #ff0000;
}
