@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');

header {
  margin: 0;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #F9FAFB;
  padding: 5px 20px;
  height: 50px;
  box-shadow: 0 0 7px #000;
}

nav a {
  font-size: 1.8em;
  font-family: 'Source Sans Pro', sans-serif;
  margin-left: 10px; 
  margin-right: 10px;
  color: #000;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s ease;
}

nav a:hover {
  color: #ff0000;
}
